@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #5858f5;
    --dark2: #0128b6;
    --green1: #1B2223;
    --green2: #3A4F50;
    --dark5: #cbdad5;
    --dark6: #3737b8;
    --cyan1: #0EF6CC;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--dark5);
}

::-webkit-scrollbar-thumb{
    background: var(--green1);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--green2);
}

body{
    background-color: var(--green1);
    height: 100vh;
    font-family: 'Lato';
    margin: 0;
}

header {
    display: flex;
    background-color: var(--green2);
    justify-content: center;
    height: 80px;
}

.options-header{
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}


.nav-links {
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    color: var(--white);
}


.nav-links:hover{
    color: var(--green2);
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions{
    display: flex;
    gap: 1rem;
}

:is(button, .link-action){
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
}

.btn-actions{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-actions:hover{
    background-color: var(--cyan1);
    border: 1px solid var(--green1);
    color: var(--dark1);
    transition: .4s;
}

.link-action{
    text-decoration: none;
    width: 100px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

strong{
    color: var(--cyan1);
}

.first-section p{
    color: var(--white);
}

.box-img-main{
    max-width: 400px;
    padding: 1rem;
}

.img-profile{
    border-radius: 50%;
    width: 100%;
}

:is(.second-section, .fourth-section){
    background-color: var(--green2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.second-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section p{
    color: var(--white);
    letter-spacing: 2px;
    font-weight: bold;
}
.second-section p:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}

.title{
    color: var(--dark5);
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 250px;
    border-radius: 10px;   
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--white);
}

#my-projects-list a:hover{
    color: var(--green1);
    transition: .4s;
    cursor: pointer;
}

:is(.img-profile, .img-who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}
